.container {
  padding: 0 2rem;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NFTs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 3rem;
}

.NFT {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border-radius: 16px;
  border: 1px solid #ccc;
}

.NFTImage {
  max-height: 230px !important;
  width: 100% !important;
  object-fit: contain;
  border-radius: 16px;
}

.textContainer {
  width: 100%;
  padding: 10px;
}
